# Dependency directories
node_modules/

# Environment variables
.env

# macOS system files
.DS_Store

# Log files
*.log
npm-debug.log*

# Ignore the .idea directory if you're using WebStorm
.idea/

# Ignore the .vscode directory if you're using Visual Studio Code
.vscode/
